//=============================== Bootstrepcode =============================
@import "~bootstrap/scss/bootstrap";


nav .nav-link:hover{
  color: white !important;
  background-color: #4232c2;
}
.nav-link{
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}
// ============= Hero section ========================
.hero-section-home{
  background-image: url('https://templatemo.com/templates/templatemo_561_purple_buzz/assets/img/banner-bg-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.hero-section-blog{
  background-image: url('https://templatemo.com/templates/templatemo_561_purple_buzz/assets/img/banner-bg-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.hero-section .container{
  padding: 40px;
}
.hero-section h1{
  margin-top: 20px;
  margin-bottom: 52px;
  font-size: 40px;
  font-weight: 600;
}

.hero-section h4{
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.hero-section p{
  max-width: 1000px;
  margin: 20px auto;
}
.hero-section h1::after{
  content: "";
  width: 150px;
  display: block;
  position: absolute;
  border-bottom: 5px solid rgb(98, 102, 234);
  padding-top: 0.5em;
  left: 50%;
  margin-left: -75px;
}
.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.learn-more-btn{
  border: 1px solid white;
  outline: none;
  color: white;
  padding: 7px 25px;
  border-radius: 20px;
  background-color: transparent;
  margin-right: 30px;
}

.learn-more-btn:hover{
  background-color: white;
  color: black;
}
.contact-us-btn{
  border: 1px solid #6266ea;
  outline: none;
  color: white;
  padding: 7px 25px;
  border-radius: 20px;
  background-color: #6266ea;
}




//========== Footer =============

footer{
  background-color: #6266ea!important;
}



//home page blog heading
.blog-heading{
  font-size: 2.5rem;
  color: #4232c2;
  font-weight: 400;
  margin: 0 0 30px;
  text-align: center;
}

//===============================  blog  section=============================
.blog-card-content img{
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.blog-card-content{
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  border-radius: 20px;
  margin:20px;
  min-height: 400px;
}
.card-body {
  padding: 1rem 1rem;
}
.card-title {
  margin-bottom: 0.5rem;
}
.card-body a{
  color: white !important;
}


.pagination-btn{
  margin: 10px;
}

.clear-search{
  background: white;
  cursor: pointer;
}